@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Raleway);

html {
    position: relative;
    min-height: 100%;
    /* needed for footer */
}

body {
    margin: 0 0 120px;
    /* equals footer height */
    padding: 0px;

}

* {
    font-family: Raleway, sans-serif;
    color: #424242;
}

input[type="text"]:focus {
    outline: 0.1rem ridge greenyellow;
    outline-offset: 0.2rem;
}

#logo {
    position: fixed;
    top: 0px;
    left: 5%;
    height: 60px;
    background-color: #3299BB;
    z-index: 10;
    border: 1px solid yellow;
}

#info2 {
    color: red;
    margin: 10px;
}


#user_id {
    float: right;
    color: black;
}

h1, h2,h3 {
    font-family: Montserrat, sans-serif;
}

#logo h1 {
    margin: 10px;
}

#logo h1 a {
    text-decoration: none;
    color: #e9e9e9;
}

#logo h1 a:hover {
    text-decoration: underline;
    color: yellow;
}

img.banner {
    border-top: 5px solid yellowgreen;
    border-bottom: 5px solid yellowgreen;
    width: 100%;

}


img.google {
    border-top: 5px solid yellowgreen;
    border-bottom: 5px solid yellowgreen;
    width: 100px;
    margin-bottom: 3px;
    margin-right: 5px;

}

.container {
    text-align: center;
    padding-top: 0px;
}


.contact {
    border-width: 1px 5px 1px 5px;
    border-style: solid;
    border-color: #999999;
    background-color: white;
    position: relative;
    padding: 10px;
    margin: 3px;
    font-family: Montserrat, serif;
    font-size: 0.8em;
}

.contact_operations {
    width: 1.2em;
    position: absolute;
    text-align: center;
    padding: 3px;
    right: 0;
    top: 0;
}

.contact_name,
.contact_tel {
    font-weight: bold;
    font-size: 0.9em;
}

#add_p:hover {
    background-color: lightgoldenrodyellow;
}

.fa-sign-out:hover {
    background-color: red;
}




#b1,
#b2,
#update {
    font-weight: bold;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
}

#b2:hover {
    background-color: red;
}

#add_p {
    width: 98%;
    border-width: 5px 1px 5px 1px;
    border-style: solid;
    border-color: #ececec;
    background-color: white;
    padding: 5px;
    margin: 10px;
    font-family: Montserrat, serif;
    font-size: 1.2em;
    font-weight: bold;

}


#login_access,
#add_entry {
    border: 5px solid #ececec;
    margin: 10px;
    position: relative;
    padding: 5px;
    width: 98%;
    font-weight: bold;
    background-color: white;
}



#list {
    border: 5px solid #ececec;
}




main {
    overflow: auto;
    position: relative;
    padding-top: 100px;
    margin: 0 auto;
    min-width: 800px;
    max-width: 1200px;
    width: 90%;
    height: inherit;
}

main h1 {
    background-color: #BCBCBC;
    color: white;
    padding: 5px;
    font-size: 1.2em;
}

a {
    color: #3299BB;
}

header {
    height: 40px;
    position: relative;
    /* change to fixed*/
    top: 0px;
    left: 0px;
    width: 100%;
    background-color: black;
    margin: 0px;
    padding: 0px;
    overflow: visible;
}

nav {
    position: absolute;
    height: 40px;
    right: 5%;
    top: 0px;
    padding: 0px;
    margin: 0px;
    border-right: 1px solid #E9E9E9;
}

nav ul {
    margin-top: 0px;
    padding-left: 10px;
}

nav li {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 0.8em;
    border-left: 1px solid #E9E9E9;
}

nav a {
    color: yellow;
    font-weight: bold;
    text-decoration: none;
}

.prod_left {
    width: 200px;
    float: left;
}

.prod_right {
    float: none;
    /* just to make it clear */
    padding-left: 10px;
    width: auto;
    overflow: hidden;
    height: auto;
}

article .details {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 50px;
    background-color: #3299BB;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    color: #E9E9E9;
    border: 1px solid white;
    outline: 1px solid #BCBCBC;
}

article .details:hover {
    background-color: #FF9900;
}
article:hover {
    background-color: #E9E9E9;
}

.framed {
    border: 3px solid #E9E9E9;
    padding: 5px;
    margin-bottom: 10px;
    position: relative;
    height: auto;
    overflow: hidden;
    font-size: 0.8em;
}

.column {
    width: 32%;
    margin: 0.5%;
    float: left;
}

article h3 {
    margin: 0;
}

.place {
    position: absolute;
    left: 5px;
    bottom: 8px;
    width: 200px;
    /* width of the image */
    z-index: 1;
    background-color: #E9E9E9;
    opacity: 0.7;
    text-align: center;
}

label {
    width: 200px;
    float: left;
    margin-right: 1em;
    text-align: right;
}

.static {
    background-color: #ececec;
}

/* footer {
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 120px;
    border-top: 5px solid yellowgreen;
    bottom: 0px;
    left: 0px;
    background-color: #e9e9e9;
} */

/** footer **/
#foot {
    font-size: 1em;
    text-align: center;
    border-top: 2px solid yellowgreen;
    bottom: 0px;
    left: 0px;
    height: 60px;
   
}

#foot a {
    color: blue;
}


/** product **/

.prod_order {
    position: absolute;
    bottom: 5px;
    left: 215px;
}

form div {
    padding-bottom: 2px;
}

form input[type="submit"] {
    font-weight: bold;
    float: right;
}
